@using TicariOtomasyon.Models.Siniflar
@model List<Cariler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<table class="table table-striped">
    <tr>
        <th>CARİ ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>ŞEHİR</th>
        <th>MAİL</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.CariID</td>
            <td>@x.CariAd</td>
            <td>@x.CariSoyad</td>
            <td>@x.CariSehir</td>
            <td>@x.CariMail</td>
            <td><a href="/Cari/CariSil/@x.CariID/" class="btn btn-danger">Sil</a></td>
            <td><a href="/Cari/CariGetir/@x.CariID/" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Cari/CariSatis/@x.CariID/" class="btn btn-default" style="background-color:darksalmon;color:white">Satış Geçmişi</a></td>

        </tr>
    }
</table>
<a href="/Cari/CariEkle/" class="btn btn-primary">Cari Ekle</a>
